body{
    /*background-color: #14181C;*/
    background: linear-gradient(45deg, #000000 ,#242b31, #000000);
    min-height: 100vh;
     
}

/*imagem logo StarRate*/
.logo{
    z-index: 30;
    width: 47px;
    position: absolute;;
    left: 360px;
    top: 10px;
    transition: transform 0.37s ease-in-out;
}

.logo:hover{
    transform: scale(1.065);
}




/* 
HEADER     
HEADER     
HEADER     
HEADER     
HEADER
*/  


.olDoHeader {
    list-style: none;
}

.olDoHeader h1{
z-index: 30;
 font-family: sans-serif;
/*color: #D8E0E8;*/
font-weight: 700;
font-size: 15px;
line-height: 17px;

/*Para por degradê no texto*/

-webkit-background-clip: text; 
background-clip: text;
color: transparent;
display: inline-block;

transition-duration: 0.5s;
}

/*#opcoesHeader{
    creio q vou usar para alinhar o texto do header
    
}



/*
POSICIONAMENTO DE TEXTO HEADER
*/
#starRate{position: absolute; left: 410px; bottom: 757px; font-size: 36px; line-height: 29px; letter-spacing: 3px;
background-image: linear-gradient(to bottom right, #c8cfd7, #606366); }
#starRate:hover{color: #c8cfd7; text-shadow: 0 0 25px rgba(255, 255, 255, 0.07); font-size: 36.4px;}

#singin{position: absolute;; left: 630px; bottom: 758.3px; font-size: 23px; line-height: 20px; letter-spacing: 0.4px;
background-image: linear-gradient(to bottom right, #c8cfd7, #606366); }
#singin:hover{color: #c8cfd7; text-shadow: 0 0 25px rgba(255, 255, 255, 0.07); font-size: 23.4px;}

#createAccount{position: absolute;; left: 765px; bottom: 758.2px; font-size: 23px; line-height: 20px; letter-spacing: 0.4px;
background-image: linear-gradient(to bottom right, #c8cfd7, #606366); }
#createAccount:hover{color: #c8cfd7; text-shadow: 0 0 25px rgba(255, 255, 255, 0.07); font-size: 23.4px;}

#films{position: absolute; left: 965px; bottom: 758px; font-size: 23px; line-height: 20px; letter-spacing: 0.4px;
background-image: linear-gradient(to bottom right, #c8cfd7, #606366); }
#films:hover{color: #c8cfd7; text-shadow: 0 0 25px rgba(255, 255, 255, 0.07); font-size: 23.4px;}
/*
FIM DO POSICIONAMENTO DE TEXTO HEADER
*/




/*
FIM DO HEADER     
FIM DO HEADER     
FIM DO HEADER     
FIM DO HEADER     
FIM DO HEADER
*/


.banner{
    opacity: 0.8;
    border-radius: 0px;
    position: absolute;
    bottom: 71px;
    left: 250px;
    height: 740px;
    width: 1240px;
}

/*.banner{
    opacity: 0.8;
    border-radius: 40px;
    position: relative;
    bottom: 240px;
    left: 192.5px;
    height: 790px;
    width: 1340px;
}*/







